.venv/
venv/
.idea/
__pycache__/

BERF/
BERF2.0/
BERFa/
BERFa2.0/
BERFmc/
BERFpls/
BERFrisk/
BERFrisk2.0/
BERFs/
BERFs2.0/
BERFt/
BERFt2.0/
BERFt3.0/
BERFt4.0/
BERFte/

*.pkl
*.safetensors
*.bin
*.pt
*.pth

# Python
*.py[cod]
*$py.class
build/
dist/
.eggs/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Environments
.env
ENV/
env/
venv.bak/
env.bak/

# Jupyter
.ipynb_checkpoints